<h1>User sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sing In">
</form>